body {
    background-color: rgb(240, 119, 189);
    font-family: Cambria;
    font-size: 1.25rem;
    margin: 0;
}

nav {
    position: fixed;
    width: 100vw;
    height: 2.5px;
    z-index: 1;
    top: 0%;
}

nav > div {
    background-color: rgb(207, 65, 89);
    font-style: 5px Cambria;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    top: 0%;
}

nav > div > div {
    height: 1.5px;
    transform: translateY(-13px);
}

div > a{
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Cambria;
    border: black solid 3.5px;
    border-radius: 10px;
    background-color: black;
    align-items: center;
    top: 0%;
}

h1{
    position:relative;
    top: 50px;
    font-size: 30px;
}

h2{
    margin-left: 8px;
    font-size: 25px;
}

#name{
    font-size: 20px;
}

#profile {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 60%;
    height: 90%;
    border-radius: 1950px;
    image-rendering: optimizeQuality;
}

.pastwork {
    display: flex;
    flex-direction: column;
}

.headblock {
    padding: 10px;
}

img {
    border-color:rgb(240, 119, 189);
    border-radius: 150px;
}

.resume {
    background-color: black;
    height: 75px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: -250%;
    min-width: min-content;
}

a:link {
    color:lightskyblue;
}

a:visited{
    color:white;
}

div > a:hover {
    color: pink;
}

.resume > a:hover {
    color: pink;
    transform: translateY(-5px);
}

.conname,.email,.message {
    padding: 10px;
}

div > #sub-btn{
    margin-left: 10px;
}

#success{
    position: relative;
    top: 75px;
    margin-left: 8px;
}

@media (min-width: 280px) {

    div > a{
        flex-direction: column;
    }

    nav > div {
        background-color: rgb(207, 65, 89);
        font-style: 5px Cambria;
        align-items: center;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-evenly;
        top: 0%;
    }

    nav > div {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    nav > div > div{
        transform: translateY(-30px);
    }
    #name {
        transform: translateY(-15px);
    }

    .headblock > img {
        transform: translateY(10px);
        width: 75%;
    }

    .message > textarea {
        width: 97.5%;
    }

    .profile {
        display: block;
        position: relative;
        top: 200px;
        image-rendering: optimizeQuality;
    }
}

@media (max-width: 800px) {
        .profile {
        margin-left: calc(5%);
    }
}

@media (max-width: 750px) {
        .profile {
        margin-left: calc(5%);
    }
}

@media (max-width: 890px) {
        .profile {
        max-width: 90%;
        position: relative;
        image-rendering: optimizeQuality;
    }
}

@media (max-width: 700px) {
        .profile {
        max-width: 90%;
        max-height: 150%;
        position: relative;
        top: calc(20px+ 100px);
        image-rendering: optimizeQuality;
        
    }
}

@media (min-width: 1300px) {
    .resume {
        bottom: -340%;
    }
}

@media (max-height: 780px){
    .resume {
        bottom: -800%;
    }
}






